.loja{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
}

.loja h3 {
  color: rgb(255, 255, 255);
  font-family: 'Staatliches', cursive;
}

.chuteira {
    margin-left: 500px;
    width: 50px;
}
img{
    width: 200px;
}

